<footer>
  <div class="footer-content">
    <!-- First logo (ICGL 17) -->
    <div style="text-align: center; display: inline-block; margin-right: 20px; vertical-align: bottom;">
      <img src="/assets/images/logo_icgl.png" alt="ICGL Logo" style="width: 100px; height: auto;">
      <p style="color: white; margin-top: 5px;">&copy; ICGL 17</p>
    </div>
    
    <!-- Second logo (Greek Orthodox Archdiocese) -->
    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 20px;">
      <a href="https://www.thyateira.org.uk/" target="_blank">
        <img src="/assets/images/logo_church.png" alt="Church logo" style="width: 300px; height: auto;">
      </a>
      <p style="color: white; margin-top: 5px; margin-bottom: -3px;">
        &copy; Greek Orthodox Archdiocese<br>of Thyateira and Great Britain
      </p>
    </div>

    <!-- NEW Third logo (GAED) -->
    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 20px;">
      <img src="/assets/images/GAED.png" alt="GAED Logo" style="width: 150px; height: auto;">
      <p style="color: white; margin-top: 5px;">
        &copy; GAED
      </p>
    </div>

    <!-- Fourth logo (Cyprus Educational Mission) -->
    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 20px;">
      <a href="https://kea.schools.ac.cy/" target="_blank">
        <img src="/assets/images/logo_owl_icon.png" alt="Owl Icon Logo" style="width: 100px; height: auto;">
      </a>
      <p style="color: white; margin-top: 5px;">
        &copy; Cyprus Educational Mission
      </p>
    </div>

    <!-- Fifth logo (CCGS Block Logo) -->
    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 20px;">
      <a href="https://www.ccgs.csah.cam.ac.uk/" target="_blank">
        <img src="/assets/images/CCGS Block Logo 6 Nimala Semi-bold UI altered for bow layers flattened 2000 x 421.png" alt="CCGS Block Logo" style="width: 200px; height: auto;">
      </a>
      <p style="color: white; margin-top: 5px;">
        &copy; CCGS
      </p>
    </div>

    <!-- NEW Sixth logo (Greece in UK) -->
    <div style="text-align: center; display: inline-block; vertical-align: bottom;">
      <img src="/assets/images/greece in uk.jpg" alt="Greece in UK Logo" style="width: 200px; height: auto;">
      <p style="color: white; margin-top: 5px;">
        &copy; Greece in UK
      </p>
    </div>
  </div>
</footer>
